body {
    font-family: Calibri;
    font-size: 12px;
    width: 520px;
    margin: 15px auto;
}

.specialFontCase {
    font-size: 12px;
}

.content {
    padding: 15px 15px 0 15px;
    border: 1px black solid;
    border-radius: 5px;
}

.content {
    margin-bottom: 15px;
}

p {
    margin: 0;
    margin-bottom: 15px;
}

input {
    font-size: 1em;
}

#mainHeader {
    font-family: Cambria, serif;
    font-size: 16px;
    font-weight: bold;
    text-align: left;
}

#paragraphBelowMainHeader {
    font-family: Calibri;
    font-style: italic;
    text-align: left;
}

.errorMessageDisplay {
    margin-left: 45px;
    color: red;
    display: none;
}

#existingUsersHeader, #newUsersHeader {
    display: none;
}

#existingUsersInfo {
    float: left;
    width: 185px;
}

#existingUserLoginControls {
    margin-left: 200px;   
}

#newUsersContainer {
    clear: both;
    margin-top: 30px;
}

#newUsersInfo {
    float: left;
    width: 185px;
}

#newUserLoginControls {
    margin-left: 200px;
}

label {
    display: inline-block;
    width: 118px;
}

.userInput {
    font-family: Calibri;
    width: 165px;
}

#existingUserLoginControls div, #newUserLoginControls div {
    margin-bottom: 10px;
}

#existingUserLogInButton, #newUserCreateAccountButton {
    margin-left: 163px;
}

button {
    background-color: royalblue;
    border: none;
    color: white;
    display: inline-block;
    text-align: center;
    text-decoration: none;
    font-size: 1em;
    font-family: Calibri;
    width: 120px;
    margin: 4px 2px;
    padding: 7px 10px;
    cursor: pointer;
    border-radius: 8px;
}

button:hover {
    background-color: darkred;
}


/*account page specific*/
#accountNameLabel {
    font-size: 16px;
    font-weight: bold;
    display: inline-block;
    width: 140px;
}

#accountName {
    display: inline-block;
    margin-left: 10px;
    font-size: 12px;
}

.existingUserData {
    margin-bottom: 10px;
}

.existingUserData Label {
    display: inline-block;
    width: 140px;
}

.existingUserData Input {
    margin-left: 10px;
}

.existingUserData Button {
    margin-left: 45px;
}

.existingUserNewData {
    margin-bottom: 15px;
}

#newValuePairsContainer {
    margin-top: 40px;
}

#newValuePairsContainer Label {
    display: inline-block;
    margin-bottom: 15px;
    width: 147px;
}

#existingUserNewData_AddButton {
    margin-left: 150px;
}

.existingUserNewData .errorMessageDisplay {
    margin-bottom: 15px;
}

@media only screen and (max-width: 320px) {
    body {
        width: 300px;
        margin: 0 10px 0 10px;
    }

    .specialFontCase {
        font-size: 13px;
    }

        .specialFontCase #mainHeader {
            font-size: 18px;
        }

    p {
        margin: 0;
        margin-bottom: 15px;
    }

    #mainHeader {
        text-align: center;
    }

    #paragraphBelowMainHeader {
        text-align: center;
    }

    #existingUsersHeader, #newUsersHeader {
        display:block;
        font-family: Cambria, serif;
        font-size: 16px;
        font-weight: bold;
        text-align: left;
    }

    footer {
        text-align: center;
    }

    #existingUsersInfo {
        display: none;
    }

    #existingUserLoginControls {
        margin-left: 0;   
    }

    #newUsersInfo {
        display: none;
    }

    #newUserLoginControls {
        margin-left: 0;
    }

    label {
        display: inline-block;
        width: 118px;
    }

    .userInput {
        width: 145px;
    }

    #existingUserLogInButton, #newUserCreateAccountButton {
        margin: 15px auto 0 auto;
        display: block;
        width: 270px;
    }

    /*account page specific*/
    #accountNameLabel {
        display: block;
    }

    #accountName {
        display: block;
        margin-left: 30px;
    }

    .existingUserData {
        margin-bottom: 20px;
    }

        .existingUserData Label {
            display: block;
            margin: 0 auto 10px 0;
            width: 200px;
        }

        .existingUserData Input {
            display: block;
            margin: 0 auto 10px 0;
            width: 270px;
        }

        .existingUserData Button {
            display: block;
            margin: 0 auto 10px 0;
            width: 270px;
        }

    #newValuePairsContainer {
        margin-bottom: 20px;
    }

    #existingUserNewData_AddButton {
        margin-left: 0;
    }

    #newValuePairsContainer Label {
        margin-bottom: 10px;
    }

        .existingUserNewData Label {
            display: block;
            margin: 0 auto 10px 0;
            width: 200px;
        }

        .existingUserNewData Input {
            display: block;
            margin: 0 auto 10px 0;
            width: 270px;
        }

        .existingUserNewData Button {
            display: block;
            margin: 0 auto 10px 0;
            width: 270px;
        }
}
